/* Extra Vibrant colors */
body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to bottom, #1CB5E0, #000046);
}

.blinking-effect {
  background-color: blue;
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    background-color: blue;
  }
  50% {
    background-color: lightblue;
  }
  100% {
    background-color: blue;
  }
}