/* Extra Vibrant colors */
.blinking-effect {
  background-color: #80b6ab;
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    background-color: #394b41;
  }
  50% {
    background-color: #85908e;
  }
  100% {
    background-color: #97b1ab;
  }
}